@use '@styles/variables' as *;

.slider-container{
    .slider-wrapper{
        position: relative;
        .dates{
            display: flex;
            margin-top: 3em;
            gap: 6em;
            justify-content: center;
            background: linear-gradient(0deg, transparent calc(50% - .5px), $line_color_light calc(50% - .5px), $line_color_light calc(50% + .5px), transparent calc(50% + .5px));
            &-item{
                font-size: 200px;
                font-family: "PTSans-Bold";
                &:first-child{
                    color: $primary_color1;
                }
                &:last-child{
                    color: $primary_color2;
                }
            }

        }
    }
}


@media (max-width: 1150px) {
    .slider-container .slider-wrapper .dates{
        gap: 4em;
        &-item{
            font-size: 170px;
        }
    }
}

@media (max-width: 950px) {
    .slider-container .slider-wrapper .dates{
        &-item{
            font-size: 130px;
        }
    }
}

@media (max-width: 720px) {
    .slider-container .slider-wrapper .dates{
        background: none;
        gap: clamp(1em, 6vw, 4em);
        &-item{
            font-size: clamp(56px, 15vw, 100px);
        }
    }
}