@use '@styles/variables' as *;

.history-block {

    position: relative;
    width: 1440px;
    margin-left: 160px;
    border-left: 1px solid $line_color_light;
    border-right: 1px solid $line_color_light;
    background: linear-gradient(90deg,
            transparent calc(50% - .5px),
            $line_color_light calc(50% - .5px),
            $line_color_light calc(50% + .5px),
            transparent calc(50% + .5px));
}

@media (max-width: 1650px) {
    .history-block {
        margin-left: 0px;
    }
}
@media (max-width: 1450px) {
    .history-block {
        width: 1340px;
    }
}
@media (max-width: 1350px) {
    .history-block {
        width: 1200px;
    }
}
@media (max-width: 1250px) {
    .history-block {
        width: 1100px;
    }
}
@media (max-width: 1150px) {
    .history-block {
        width: 1000px;
    }
}
@media (max-width: 1050px) {
    .history-block {
        width: 900px;
    }
}
@media (max-width: 950px) {
    .history-block {
        width: 90vw;
        border: none;
    }
}
@media (max-width: 720px) {
    .history-block{
        width: 100vw;
        background: none;
        padding-bottom: 4em;
        min-height: calc(100vh - 4em);
    }
}